<div class="user_tn">
	<div class="photo">
		<img src="http://images.ak.instagram.com/profiles/profile_44228761_75sq_1334963301.jpg" />
		<p>drumwolf</p>
	</div>
	<ul>
		<li class="match">98% <span>match</span></li>
		<li class="availability">3 <span>hr</span></li>
		<li class="commits">200 <span>commits</span></li>
		<li class="distance">5 <span>mi</span></li>
	</ul>
</div>
<div class="user_tn">
	<div class="photo">
		<img src="http://distilleryimage3.s3.amazonaws.com/2fb3900c4d7111e38fc1125b28ccee1e_6.jpg" />
		<p>movember</p>
	</div>
	<ul>
		<li class="match">98% <span>match</span></li>
		<li class="availability">3 <span>hr</span></li>
		<li class="commits">200 <span>commits</span></li>
		<li class="distance">5 <span>mi</span></li>
	</ul>
</div>